.menu-principal {
margin:0;
padding:0;
list-style:none;
background-color: darkslategrey;
text-align: center;
position: sticky;
top: 0;
z-index: 1000;
border-radius: 0 0 15px 15px;
  align-items: center;
  gap: 40px;


}

.menu-principal li {display: inline-block;
    position: relative;}

.menu-principal li a {display: block;
    padding: 10px 20px;
    color: aliceblue;
    text-decoration: none;
   }

.menu-principal li a:hover {background-color: azure;
    color: darkslategrey;}

    
.foto-perfil {
  border-radius: 50%;
  object-fit: cover;
  transition: opacity 0.5s ease;
position:relative;}

.foto-perfil:hover {
  opacity: 0.5;
}

.portada-principal {
margin:0;
padding:0;
list-style:none;
background-color: rgb(132, 167, 167);
text-align: center;
top: 0;
z-index: 1000;
border-radius: 15px 15px 15px 15px;}

button{
    border-radius: 0 15px 15px 15px;
      text-decoration: none;}



button:hover {
  opacity: 0.5;
}

.barra {
  width: 100%;
  background: rgb(178, 184, 184);
;
  height: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.progreso {
  height: 100%;
  background: rgb(69, 130, 130);
  border-radius: 10px;
  text-decoration: #ffffff;
}

.proyecto {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  max-width: 300px;
  margin: 10px auto;
  text-align: center;
}
.proyecto img {
  width: 100%;
  border-radius: 10px;
  
}

.proyecto:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);}

  .testimonio {
  background-color: #f0f0f0;
  padding: 20px;
  border-left: 5px solid darkslategrey;
  margin: 20px;
  border-radius: 10px;
}
.volver-arriba {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: darkslategrey;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
}
.volver-arriba:hover {
      opacity: 0.5;
}
.volteado-contenedor {
  width: 180px;
  height: 180px;
  perspective: 1000px;
    margin: 0 auto;
}

.volteado-atras {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.volteado-contenedor:hover .volteado-atras {
  transform: rotateY(180deg);
}

.volteado-adelante, .volteado-parte-atras {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
  overflow: hidden;
}

.volteado-adelante img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.volteado-parte-atras {
  background-color: darkslategrey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  font-weight: bold;
}
